@import "./style.css";

#footer{
    background-color: var(--black);
    color: var(--white);
    margin-top: var(--section-space);

}



#footer-logo-title{
    color: var(--white);
    font-family: "Mansalva";
}
#footer-logo-subtitle{
    color: var(--white);
    font-family: "Mansalva";
}

.footer-logo-img{
    max-width: 15rem;
    max-height: auto;
}



   